*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: pop;

	background: #111;
}

/* similar code styling */

@font-face {
	font-family: pop;
	src: local(Poppins-Medium),url(img/Poppins-Medium.ttf);
}

body{
	background: #111;
}

.container{
	max-width: 1300px;
	padding: 15px 15px;
}

.menu-btn{

	font-size: 23px;
	display: none;
	cursor: pointer;
	z-index: 999;
	color: white;
}


section{
	padding-top: 90px;
}

section .title{
	background-image: linear-gradient(130deg,#48C9B0,#9457eb);
	-webkit-background-clip: text;
	color: transparent;
	margin-bottom: 75px;

	font-size: 30px;
	text-align: center;

	position: relative;

}

section .title::before{

	content: '';

	width: 150px;
	height: 3px;

	position: absolute;
	left: 50%;
	transform: translate(-50%);

	bottom: -10px;

	background-color: #f6ea41;
}



/* navbar styling start */

nav{
	padding: 10px 40px;
	position: fixed;
	width: 100%;
	z-index: 999;
	background-color: #111;
}


nav .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .container .logo{
	font-size: 33px;

	background-image: linear-gradient(50deg,#f6ea41,#f048c6);
	-webkit-background-clip: text;
	color: transparent;


}

nav .container .logo span{
	font-size: 30px;
	background-image: linear-gradient(50deg,#f6ea41,#9457eb);
	-webkit-background-clip: text;
	color: transparent;
}

nav .container ul.menu li{
	display: inline-block;
	margin-right: 40px;
	font-size: 18px;
}

nav .container ul.menu li a{
	color: #9457eb;;
}

/* navbar styling end */



















/* home section styling */

.home{
min-height: 600px;
display: flex;
justify-content: center;
align-items: center;



background-color: #111;
}

.home .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.home .left{
	width: 55%;
	display: flex;
	justify-content: center;
}

.home .right{
	width: 45%;

}

.home .right .sub{
	font-size: 30px;

	background-image: linear-gradient(130deg,#f6ea41 ,#f048c6,#48C9B0,orange );
	-webkit-background-clip: text;
	color: transparent;
	margin-bottom: 10px;

}

.home .right p{
	font-size: 16px;
	background-image: linear-gradient(130deg,#00ade1 ,#f048c6,rgb(255, 230, 0),orange );
	-webkit-background-clip: text;
	color: transparent;
	margin-bottom: 25px;
}

.home .right a{
	padding: 12px 15px;
	border-radius: 7px;
	color: #fff;
	background-image: linear-gradient(130deg,#00ade1 ,#f048c6);

}

.home .left img{
	width: 550px;
}

/* home section end  */





/* toppc game section styling start */





.toppcgame .container .toppcgame-content{
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
}


.toppcgame .container .toppcgame-content .left{
	width: 60%;
	height: 500px;


	display: flex;
	justify-content: center;
	align-items: center;
}

.toppcgame .container .toppcgame-content .left .card{
	width: 95%;
	height: 100%;

	position: relative;

	overflow: hidden;
}

.toppcgame .container .toppcgame-content .left .card img{
	width: 94%;
	height: 100%;
	object-fit: cover;	width: 100%;
}


.toppcgame .container .toppcgame-content .left .card .info{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	transform: translate(-100%);
	transition: all 0.3s ease;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background: rgba(17, 17, 17, 0.7);
}

.toppcgame .container .toppcgame-content .left .card:hover .info{
	transform: translate(0%);
}

.toppcgame .container .toppcgame-content .left .card .info h2{
	font-size: 29px;

	color: #48C9B0;

	margin-bottom: 10px;

	background: transparent;
}


.toppcgame .container .toppcgame-content .left .card .info h3{
	color: #f6ea41;

	font-size: 26px;

	background: transparent;

}


.toppcgame .container .toppcgame-content .right{
	width: 60%;
	height: 500px;


	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

}


.toppcgame .container .toppcgame-content .right .card{
	width: 95%;
	height: 48%;

	position: relative;

	overflow: hidden;
}

.toppcgame .container .toppcgame-content .right .card img{
	width: 98%;
	height: 100%;
	object-fit: cover;	width: 100%;
}


.toppcgame .container .toppcgame-content .right .card .info{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	transform: translate(-100%);
	transition: all 0.3s ease;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background: rgba(17, 17, 17, 0.7);
}

.toppcgame .container .toppcgame-content .right .card:hover .info{
	transform: translate(0%);
}

.toppcgame .container .toppcgame-content .right .card .info h2{
	font-size: 29px;

	color: #48C9B0;

	margin-bottom: 10px;

	background: transparent;
}


.toppcgame .container .toppcgame-content .right .card .info h3{
	color: #f6ea41;

	font-size: 26px;

	background: transparent;

}

/* toppc game section styling end */




















/* responsive styling start */

@media(max-width:1075px){


	.home .container{
		padding-top: 90px;
		flex-direction: column;
	}

	.home .column{
		width: 100%;
	}

	.home .right{
		width: 93%;
	}

	.home .left img{
		margin-bottom: 50px
	}

	.home .right{
		padding-left: 20px;
	}

}


@media(max-width:1060px){

nav .container ul.menu{
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #111;
	top: 0;
	left: -100%;
	padding-top: 140px;

	transition: all 0.3s ease;
}

nav .container ul.menu.active{
	left: 0;
}

nav .container ul.menu li{
	display: block;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 40px;
}

.menu-btn{
	display: block;
}

}



@media(max-width:630px){

	.toppcgame .container .toppcgame-content{
		flex-direction: column;
	}

	.toppcgame .container .toppcgame-content .right{
		width: 100%;
	}

	.toppcgame .container .toppcgame-content .left{
		width: 100%;
	}


	.toppcgame .container .toppcgame-content .left .card{
		margin-bottom: 60px;
	}

	.toppcgame .container .toppcgame-content .right .card{
		margin-bottom: 40px;
	}

}

@media(max-width:585px){
	.home .left img{
		width: 360px;
	}

	.home .container{
		padding: 15px 0;
	}

}



@media(max-width:425px){
	nav{
		padding: 13px 10px;
	}

	.home .right p{
		font-size: 14px;
	}

}








@media(max-width:385px){
	.home .left img{
		width: 320px;
	}
}


@media(max-width:341px){
	.home .left img{
		width: 280px;
	}
}

/* responsive styling end */