*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: pop;
}

/* similar code styling */

@font-face {
	font-family: pop;
	src: local(Poppins-Medium),url(img/Poppins-Medium.ttf);
}

.container{
	max-width: 1300px;
	padding: 15px 15px;
}

.menu-btn{

	font-size: 23px;
	display: none;
	cursor: pointer;
	z-index: 999;
	color: white;
}




/* navbar styling start */

nav{
	padding: 10px 40px;
	position: fixed;
	width: 100%;
	z-index: 999;
	background-color: #111;
}


nav .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .container .logo{
	font-size: 33px;

	background-image: linear-gradient(50deg,#f6ea41,#f048c6);
	-webkit-background-clip: text;
	color: transparent;

	line-height: 1.2;
	display: inline-block;
}

nav .container .logo span{
	font-size: 30px;
}

nav .container ul.menu li{
	display: inline-block;
	margin-right: 40px;
	font-size: 18px;
}

nav .container ul.menu li a{
	color: #ff6493;
}

/* navbar styling end */



















/* home section styling */

.home{
min-height: 600px;
display: flex;
justify-content: center;
align-items: center;



background-color: #111;
}

.home .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.home .left{
	width: 55%;
	display: flex;
	justify-content: center;
}

.home .right{
	width: 45%;

}

.home .right .sub{
	font-size: 30px;

	background-image: linear-gradient(130deg,#f6ea41 ,#f048c6,red,orange );
	-webkit-background-clip: text;
	color: transparent;
	margin-bottom: 10px;
}

.home .right p{
	font-size: 16px;
	background-image: linear-gradient(130deg,#00ade1 ,#f048c6,rgb(255, 230, 0),orange );
	-webkit-background-clip: text;
	color: transparent;
	margin-bottom: 25px;
}

.home .right a{
	padding: 12px 15px;
	background-color: red;
	border-radius: 7px;
	color: #fff;
	background-image: linear-gradient(130deg,#00ade1 ,#f048c6);

}

.home .left img{
	width: 550px;
}

/* home section end  */



























/* responsive styling start */

@media(max-width:1075px){


	.home .container{
		padding-top: 90px;
		flex-direction: column;
	}

	.home .column{
		width: 100%;
	}

	.home .left img{
		margin-bottom: 50px
	}

	.home .right{
		padding-left: 20px;
	}

}


@media(max-width:1060px){

nav .container ul.menu{
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #111;
	top: 0;
	left: -100%;
	padding-top: 140px;

	transition: all 0.3s ease;
}

nav .container ul.menu.active{
	left: 0;
}

nav .container ul.menu li{
	display: block;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 40px;
}

.menu-btn{
	display: block;
}

}



@media(max-width:425px){
	nav{
		padding: 13px 10px;
	}
}





@media(max-width:585px){
	.home .left img{
		width: 360px;
	}
}

@media(max-width:385px){
	.home .left img{
		width: 320px;
	}
}


@media(max-width:341px){
	.home .left img{
		width: 280px;
	}
}

/* responsive styling end */