	::-webkit-scrollbar{
		display: none;
	}

	@font-face{
		font-family: pop;
		src:local('Poppins-Medium'),url('img/Poppins-Medium.ttf');
	}


		.close,.menu{
			display: none;
		}


	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		list-style: none;

		font-family: pop
	}

	nav{
		height: 65px;
		width: 100%;
		

		display: flex;
		align-items: center;

		position: fixed;

		background-color: #fff

	}
	
	nav img{
		width: 90px;
		margin-left: 10px
		}

	nav ul{
		display: flex;

		margin-left: 650px
	}

	nav ul li{
		margin-right: 50px;

	}

	nav ul li a{
		font-size: 16px;
		color: #F65132;

		position: relative;
	}

		nav ul li a::after{
			content: '';

			width: 0%;
			height: 2px;

			background-color: #107DC0;

			position: absolute;
			left: 0;
			bottom: -5px;

			transition: all 0.8s
		}

		nav ul li a:hover::after{
			width: 100%
		}

		nav ul li a span{
			font-size: 23px;

			color: #FFd521
		}



		#home{
			height: 700px;
			width: 100%;

			border-bottom: 2px solid #222;

			background-image: url('img/home_bg.jpg');
			background-repeat: no-repeat;
			background-size: 100%;
			background-position-y:-200px;
				}

		#home h1{
			color: #222;

			font-size: 46px;

			text-transform: uppercase;

			letter-spacing: 3px;

			display: flex;
			justify-content: center;
			
			line-height: 200px

		}

		#home h1 span,b{
			color: #FFd521;

			font-size: 55px
		}


		#aboutus{
			height: 700px;

			display: flex;
			justify-content: center;
			align-items: center;
		}


		#aboutus .content_aboutus img{
			width: 500px
		}

			#aboutus .content_aboutus h1{
				font-size: 27px;
				letter-spacing: 2px;
				padding-bottom: 40px;

				display: flex;
				justify-content: center;
				align-items: center;
			}

			#aboutus .content_aboutus h1 span{
				font-size: 32px;

				color: #FFd521
			}

		#aboutus .content_aboutus p{
			width: 700px;
			padding-right: 50px
		}

		#aboutus .content_aboutus .text{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#character{
			height: 700px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			padding-top: 100px
		}

		#character h1 span{
			font-size: 43px;
			color: #FFd521
		}

		#character h1{
			font-size: 30px;


			display: flex;
			justify-content: center;
			align-items: center;

			padding-top: 50px
		}

		.charBox{
			width: 200px;
			height: 300px;


			position: relative;
			border-radius: 20px;
			border:2px solid #222;

			z-index: -2
		}

		.charBox .imgBox{
			position: absolute;
			width: 100%;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;


		}

		.charBox .imgBox img{
			position: absolute;

			width: 71%;

			top: 50px
		}

		.charBox .textBox{
			width: 100%;
			height: 10%;

			position: absolute;
			left: 0;
			bottom: 20px;


			display: flex;
			justify-content: center;
			align-items: center;
		}

		.char_grid_1{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			padding-bottom: 40px;
			margin-left: 180px;

			grid-column-gap: 20px

		}

				.char_grid_2{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		.char_grid{
			margin-left: 250px;
			margin-top: 30px
		}










		#series{
			height: 700px;
			margin-top: 100px;

			display: flex;
			justify-content: center;
			align-items: center;

			padding-top: 30px;

			z-index: -2
		}

		#series .season_box{
			width: 200px;
			height: 250px;


			position: relative;

			border:2px dotted black;
			border-radius: 30px;

			z-index: -20
		}



		#series .season_box .imgBox_1{
			width: 100%;
			height: 100%;

			position: absolute;
			top: 0;
			left: 0;


			display: flex;
			justify-content: center;
			align-items: center;

		}


		#series .season_box .imgBox_1 img{
			width: 70%
		}

	#series .season_box .textBox_1{
					width: 100%;
			height: 10%;

			position: absolute;
			bottom: 0px;
			left: 0;



			display: flex;
			justify-content: center;
			align-items: center;
	}

	.season{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-row-gap: 30px;
		grid-column-gap: 80px
	}

			#series h1 span{
			font-size: 43px;
			color: #FFd521
		}

		#series h1{
			font-size: 30px;


			display: flex;
			justify-content: center;
			align-items: center;

			padding-top: 50px
		}

		#series p{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 30px 0
		}






#footer{
	display: flex;
	justify-content: center;
	align-items: center;

	height: 30px;
	background-color: skyblue;
	margin-top: 100px
}








		@media screen and (max-width: 1280px) {
			nav ul li{
				width: 90px
			}


		}


				@media screen and (max-width: 1024px){



					nav ul{
						margin-left: 330px
					}

					#home,#footer{
						width: 108.6% ;
						background-position-y:20px ;

						display: flex;
						justify-content: center;
						align-items: center;
					}

						#home h1{
							margin-top: -300px
						}

				
						#aboutus .content_aboutus img{
							width: 430px
						}

						#aboutus .content_aboutus p{
								width: 540px
						}


								.char_grid_1{
			
			margin-left: 130px;

		}

				.char_grid_2{
			grid-column-gap: 50px
		}



		#series,#character,#aboutus{
			width: 108.6%
		}

				.char_grid{
			margin-left: 210px
		}


				}


				@media screen and (max-width: 768px) {
					nav ul li a{
						font-size: 20px
					}

					nav ul li{
						width: 200px;

						margin-bottom: 30px;
						margin-left: 200px;

						margin-top: 50px
					}

					nav ul{
						display: block;

						position: absolute;
						top: 0;
						right: -1000px;
						/*right: -100px;*/

						background-color: white;

						height: 100vh;
						width: 100vh;
					}

					.menu,.close{
						display: block;
						position: absolute;
						top: 0;
						right: 0;

						z-index: 10
					}

					.close{
						top: -10px;
						display: none;
					}

					.menu img{
						filter: invert(1);

						transform: scale(0.4);
					}

			.close img{
						filter: invert(1);

						transform: scale(0.4);
					}				

					#home,#footer{
						width: 117.5%
					}
					
					#series{
						width: 117.5%
					}

					#aboutus{
						width: 117.5%
					}

					.char_grid{
						margin-left: 10px
					}

					#character{
						padding-left: 110px					
					}

					#character h1{
						margin-left: -30px
					}

									#aboutus .content_aboutus img{
							width: 380px
						}

						#aboutus .content_aboutus p{
								width: 490px
						}

						nav img{
							margin-left: 100px
						}

						#series .season_box{
							z-index: -20
						}

				}


					@media screen and (max-width: 540px) {

					

						nav img{
							margin-top: 50px
						}

						nav ul li a{
							font-size: 35px
						}

						nav ul li a span{
							font-size: 45px
						}

						nav ul{
							height: 150vh
						}

						.menu,.close{
							top: -65px;
						}

						#home,#footer{
							width: 139.5%;

							background-position-y:100px 
						}

						#aboutus{
							width: 139.5%;
							height: 1030px
						}

							#aboutus .content_aboutus p,img{
								font-size: 20px;
								width: 92%;
								padding-bottom:50px ;
								margin-left: 50px
							}

							#aboutus .content_aboutus .text{
								display: grid;
							}

									#aboutus .content_aboutus h1 span{
										font-size: 39px
									}

									#character{
											width: 117.5%;
											height: 1800px
									}

									.char_grid_1,.char_grid_2{
										grid-template-columns: 1fr;
										grid-row-gap: 40px
									}

									.char_grid_1{
										margin-left: 0px
									}

									.charBox .textBox h4{
										font-size: 20px
									}

									.charBox .textBox{
										bottom: 10px
									}

									.charBox .imgBox img{
										width: 80%;

										left: -20px
									}

									.charBox{
										height: 320px
									}

									#series{
										height: 2600px;

										width: 139.5%
									}

										.season{
											grid-template-columns: 1fr;
											grid-row-gap: 160px
										}

												#series p{
													font-size: 20px;
													padding-bottom: 60px;
												}

												#series .season_box{
													transform: scale(1.3);

													margin-left: 210px
												}

												#series .season_box .imgBox_1{
													top: 20px;
													left: -25px
												}

					}

					@media screen and (max-width: 414px){

						#home{
							height: 550px
						}

							#character{
								width: 110%
							}

							#series p{
								font-size: 18px
							}

							#series .season_box{
								margin-left: 180px
							}



					}

					@media screen and (max-width: 375px) {
						#aboutus{
							height: 1200px
						}

						#series p{
							font-size: 17px
						}

							#series .season_box{
								margin-left: 168px
							}
					}

					@media screen and (max-width: 360px){
						#home h1{
								font-size: 29px
						}

						#home h1 span{
							font-size: 45px
						}

						#series p{
							font-size: 15px
						}

							#series .season_box{
								margin-left: 140px
							}

								#footer{
								margin-top: 100px
							}
					}

					@media screen and (max-width: 280px){

						#aboutus{
							height: 1400px
						}

						#home,#footer{
							width: 151%;
						}

						#footer p{
							font-size: 9px;
						}

						#footer{
							margin-top: 120px
						}

						
						#series p{
							display: none;
						}

						#series{
							margin-top: 200px
						}

		

							#series .season_box{
								margin-left: 50px;
								margin-top: 50px;
							}

					}

