*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
}


@font-face{
	font-family: big;
	src: local(BigShouldersDisplay),url(imgs/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf);
}

@font-face{
	font-family: ubuntu;
	src: local(Ubuntu-LightItalic),url(imgs/Ubuntu-LightItalic.ttf);
}

@font-face{
	font-family: pop;
	src: local(Poppins-Medium),url(imgs/Poppins-Medium.ttf);
}


/* similar code styling */

.menu-btn{
	color: #fff;
	display: none;
	z-index: 999;
}


.max-width{
	max-width: 1300px;
	padding: 24px 100px;
}


section{
	font-family: pop;
}


section .title{
	font-family: ubuntu;
}


/* navbar styling start */

nav{
	background: #222;
	width: 100%;
	position: fixed;
}

nav .max-width{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .max-width .logo{
	font-size: 40px;
	font-weight: 600;
	font-family: big;
	letter-spacing: 3px;
	color:#11f367 ;
}

nav .max-width .logo span{
	color: #9457eb;
}



nav .max-width ul.menu li{
	margin-left: 38px;
	font-size: 17px;
	font-family: pop;
	
	display: inline-block;
}



nav .max-width ul.menu li a{
	color: #107dc0;
}

/* navbar styling end */




@media(max-width:960px){

	.max-width{
		padding: 24px 19px;
	}

	nav .max-width ul.menu{
		
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #000;

		text-align: center;
		padding-top:40px;

		transition: all 0.3s ease;
	}

	nav .max-width ul.menu.active{
		left: 0;
	}


	nav .max-width ul.menu li{
		display: block;
	}

	nav .max-width ul.menu li a{
		display: inline-block;
		margin-top: 20px;
		font-size: 20px;
		margin-left: -42px;
	}

	.menu-btn{
		display: block;
		font-size: 25px;
	}

}

