*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
}


@font-face{
	font-family: big;
	src: local(BigShouldersDisplay),url(imgs/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf);
}

@font-face{
	font-family: ubuntu;
	src: local(Ubuntu-LightItalic),url(imgs/Ubuntu-LightItalic.ttf);
}

@font-face{
	font-family: pop;
	src: local(Poppins-Medium),url(imgs/Poppins-Medium.ttf);
}


/* similar code styling */

.menu-btn{
	color: #111;
	display: none;
	z-index: 999;
	cursor: pointer;
}


.container{
	max-width: 1300px;
	padding: 24px 100px;
}


section{
	font-family: pop;
}


section .title{
	font-family: ubuntu;
}


/* navbar styling start */

nav{
	background: #fbfbfb;
	box-shadow: 0 1px 15px 0 rgb(0 0 25 / 20%);
	width: 100%;
	position: fixed;
}

nav .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .container .logo{
	font-size: 40px;
	font-weight: 600;
	font-family: big;
	letter-spacing: 3px;
	color:#11f367 ;
}

nav .container .logo span{
	color: #9457eb;
}



nav .container ul.menu li{
	margin-left: 38px;
	font-size: 17px;
	font-family: pop;
	
	display: inline-block;
}



nav .container ul.menu li a{
	color: #107dc0;
}

/* navbar styling end */





/* home section styling start */

.home .container{
	padding-left:40px ;
}

.home{
	min-height: 600px;

	display: flex;
	
	align-items: center;
	justify-content: center;

	

	

	background:url(imgs/undraw_stripe_payments_re_chlm.svg);
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: center;
	background-position-x: 800px;
	

}


.home .text-1{
	font-size: 35px;
	color: #9457eb;
	margin-right: 260px;

	margin-bottom: 10px;
}

.home .text-1 span{
	font-size: 48px;
	padding-right:10px ;
	color: #11f367;
}


.home .text-2{
	max-width: 500px;
	margin-bottom: 30px;
	text-align: justify;
}

.home a{
	padding: 10px 12px;
	font-size: 18px;
	color: #fff;
	border-radius: 7px;
	background-color: #107dc0;
	border: 3px solid #107dc0;
	transition: all 0.3s ease;
}

.home a:hover{
	background: none;
	color: #107dc0;
}



















/* responsive styling start */

@media(max-width:960px){

	.container{
		padding: 24px 34px;
	}

	nav .container ul.menu{
		
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #fff;

		text-align: center;
		padding-top:40px;

		transition: all 0.3s ease;
	}

	nav .container ul.menu.active{
		left: 0;
	}


	nav .container ul.menu li{
		display: block;
	}

	nav .container ul.menu li a{
		display: inline-block;
		margin-top: 20px;
		font-size: 20px;
		margin-left: -42px;
	}

	.menu-btn{
		display: block;
		font-size: 25px;
	}

}



@media(max-width:757px){
	
	.home .text-1{
		font-size: 26px;
		margin-right: 0px;
	}



	.home .text-1 span{
		font-size: 35px;
	}

}

@media(max-width:390px){

	.home .container{
		padding: 20px;
	}

	.home .text-1 span{
		font-size: 32px;
	}

	.home .text-1{
		font-size: 25px;
	}

}

@media(max-width:350px){


	.home .text-1 span{
		font-size: 32px;
	}

	.home .text-1{
		font-size: 22px;
	}

}


