

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


@font-face {
    font-family: avenger;
    src: url("./Avengeance-E1zj.otf");
}


$primary : #7366f3;
$font-family-sans-serif : "Poppins";
$secondary : rgb(177, 175, 175);

.special{
    font-family: avenger;
    letter-spacing: 5px;
}






@import "./node_modules/bootstrap/scss/bootstrap";