*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
}


@font-face{
	font-family: big;
	src: local(BigShouldersDisplay),url(imgs/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf);
}

@font-face{
	font-family: ubuntu;
	src: local(Ubuntu-LightItalic),url(imgs/Ubuntu-LightItalic.ttf);
}

@font-face{
	font-family: pop;
	src: local(Poppins-Medium),url(imgs/Poppins-Medium.ttf);
}


/* similar code styling */

.menu-btn{
	color: #111;
	display: none;
	z-index: 999;
	cursor: pointer;
}


.container{
	max-width: 1300px;
	padding: 24px 100px;
}


section{
	font-family: pop;
	padding-top: 100px;
}




section .title{
	font-family: pop;
	position: relative;
	text-align: center;
	letter-spacing: 4px;
	margin-bottom: 60px ;
}

section .title::after{
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%);
	width: 80px;
	height: 3px;
	background-color: #ff6493;

}

section .title::before{
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translate(-50%);
	width: 150px;
	height: 3px;
	background-color: #00dc82;

}




/* navbar styling start */

nav{
	background: #fbfbfb;
	box-shadow: 0 1px 15px 0 rgb(0 0 25 / 20%);
	width: 100%;
	position: fixed;

	z-index: 999;
}

nav .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .container .logo{
	font-size: 40px;
	font-weight: 600;
	font-family: big;
	letter-spacing: 3px;
	color:#11f367 ;
}

nav .container .logo span{
	color: #9457eb;
}



nav .container ul.menu li{
	margin-left: 38px;
	font-size: 17px;
	font-family: pop;
	
	display: inline-block;
}



nav .container ul.menu li a{
	color: #00ade1;
}

/* navbar styling end */





/* home section styling start */

.home .container{
	padding-left:40px ;
}

.home{
	min-height: 600px;

	display: flex;
	
	align-items: center;
	justify-content: center;

	

	

	background:url(imgs/undraw_stripe_payments_re_chlm.svg);
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: center;
	background-position-x: 800px;
	

}


.home .text-1{
	font-size: 35px;
	color: #9457eb;
	margin-right: 260px;

	margin-bottom: 10px;

	/* color: #ff6493; */
	/* color: #ffdd1c; */
	/* color: #00dc82; */
}

.home .text-1 span{
	font-size: 48px;
	padding-right:10px ;
	color: #11f367;
}


.home .text-2{
	max-width: 500px;
	margin-bottom: 30px;
	text-align: justify;
}

.home a{
	padding: 10px 12px;
	font-size: 18px;
	color: #fff;
	border-radius: 7px;
	background-color: #00ade1;
	border: 3px solid #00ade1;
	transition: all 0.3s ease;
}

.home a:hover{
	background: none;
	color: #00ade1;
}

/* home section styling end */











/* new section styling start */

.new .container .title{
	margin-bottom: 60px ;
	font-family: pop;
	letter-spacing: 4px;
}

.new .container .new-content{
	display: flex;
	justify-content: center;
	align-self: center;
}


.new .container .new-content .slider{
	width: 330px;
	height: 330px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;

	

}



.new .container .new-content .slider .slides{

	display: flex;
	width: 500%;
	height: 300px;

	
}

.new .container .new-content .slider input{
	display: none;
}

.new .container .new-content .slider .slides .card div{
	text-align: center;
	font-size: 23px;
	font-family: big;
	letter-spacing: 1px;
	padding-bottom: 10px;

}

.new .container .new-content .slider .slides .card .name{
	margin-top: 20px;
}


.new .container .new-content .slider .slides .card{
	width: 20%;

	transition: 1s;
}


.new .container .new-content .slider .slides .card img{
	width: 310px;
	object-fit: cover;
	height: 177px;
	text-align: center;
	transform: translateX(3%);
}

.new .container .new-content .slider .navigation{
	display: flex;
	justify-content: center;
	position: absolute;
	align-items: center;
	height: 10px;
	width: 100%;
	margin-bottom: 20px;
}

.new .container .new-content .slider .btn-manual{
	
	padding: 6px;
	border: 2px solid #9457eb;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease;
}


.new .container .new-content .slider .btn-manual:hover{
	background: #9457eb;
}

.new .container .new-content .slider .btn-manual:active{
	padding: 12px;
}


.new .container .new-content .slider .btn-manual:not(:last-child){
	margin-right: 20px;
}


#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -20%;
}

#radio3:checked ~ .first{
	margin-left: -40%;
}

#radio4:checked ~ .first{
	margin-left: -60%;
}

#radio5:checked ~ .first{
	margin-left: -80%;
}












/*product sectionstyling start  */

.product .product-content{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
}

.product .product-content .card{
	width: 300px;
	padding: 10px 0;
	margin-bottom: 50px;

	font-family: big;
	letter-spacing: 2px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	
	border-radius: 10px;

	

}

.product .product-content .card img{
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.product .product-content .card .name{
	font-size: 31px;

	margin-bottom: 10px;

	position: relative;
	
} 


.product .product-content .card .name::after{
	content: '-';

	position: absolute;
	top: 0;
	left: -20px;
	font-size: 35px;
}

.product .product-content .card .name::before{
	content: '-';

	position: absolute;
	top: 0;
	right: -20px;
	font-size: 35px;
}



.product .product-content .card .rate-star{
	margin-bottom: 10px;
}

.product .product-content .card .rate-star .checked{
	color: gold;
}

.product .product-content .card .rate-star .not{
	color: #111;
	
}

.product .product-content .card .price{
	font-size: 23px;

}

/* product section styling end */








/* review section styling start*/


.review .review-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.review .review-content .card{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f8f9fa;
	width: 600px;
	padding: 16px 30px;

	margin-bottom: 30px;
	
	
}

.review .review-content .card .info{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 70%;
}

.review .review-content .card .info .name{
	padding-bottom: 10px;
	font-size: 19px;
}

.review .review-content .card .info p{
	font-size: 16px;
	justify-content: center;
}

.review .review-content .card .img-box{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.review .review-content .card img{
	width: 80px;
}


/* review sectin styling end */





/* contact sectin styling start */

.contact .contact-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact .contact-content .left{
	width: 50%;
}

.contact .contact-content .right{
	width: 50%;
}

.contact .contact-content .right iframe{
	border-radius: 10px;
}


.contact .contact-content .sub-title{
	font-size: 22px;
	margin-bottom: 10px;
}


.contact .contact-content p{
	margin-bottom: 13px;
}

.contact .contact-content .card{
	display: flex;
	align-items: center;

	margin-bottom: 30px;
}

.contact .contact-content .card #address{
	font-size: 23px;
	color: #00ade1;
}

.contact .contact-content .card .info{
	margin-left: 20px;
}

/* contact sectin styling end */



/* footer section styling start */


footer{
	background-color: #111;
	padding: 10px 0;
  }
  
  
  footer .footer-content{
   
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: pop;
	font-size: 18px;
	color: #fff;
  }
  
  footer .footer-content span{
	color: #9457eb;
	padding-right: 10px;
  }
  
  footer .footer-content i{
	font-style: normal;
  
	padding-left: 10px;
  }
  
  

/* footer section styling end */














/* responsive styling start */

@media(max-width:1075px){
	.product .product-content{
		grid-template-columns: 1fr 1fr;
	}

	.review .container{
		padding: 24px 100px;
	}

	.review .review-content{
		
		grid-template-columns: 1fr;
		
	}


	.contact .contact-content{
		flex-direction: column;
	}

	.contact .contact-content .left{
		width: 100%;
		margin-bottom: 30px;
	}

	.contact .contact-content .right{
		width: 100%;
	}

	.contact .contact-content .right iframe{
		width: 400px;
		height: 400px;
		border-radius: 0px;
		}

}

@media(max-width:960px){

	.container{
		padding: 24px 34px;
	}

	nav .container ul.menu{
		
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #fff;

		text-align: center;
		padding-top:40px;

		transition: all 0.3s ease;
	}

	nav .container ul.menu.active{
		left: 0;
	}


	nav .container ul.menu li{
		display: block;
	}

	nav .container ul.menu li a{
		display: inline-block;
		margin-top: 20px;
		font-size: 20px;
		margin-left: -42px;
	}

	.menu-btn{
		display: block;
		font-size: 25px;
	}


	.home{
		background: url(imgs/shoe.jpg);
		background-size: cover;
	}

}



@media(max-width:757px){
	
	.home .text-1{
		font-size: 26px;
		margin-right: 0px;
	}



	.home .text-1 span{
		font-size: 35px;
	}

}

@media(max-width:639px){
	.product .product-content{
		grid-template-columns: 1fr;
	}



	.product .product-content .card img{
		margin-bottom: 15px;
	}


	.review .review-content .card{
		max-width: 500px;
	}

}

@media (max-width: 577px){
 

	footer .footer-content{
	 
	  
	  font-size: 15px;
	}
	  
	}

@media(max-width:555px){

	.review .review-content .card{
		max-width: 450px;
	}

	.review .review-content .card .info{
		width: 100%;
	}

	.review .review-content .card .info .name{
		font-size: 18px;
	}

	.review .review-content .card .info p{
		font-size: 14px;
	}
}

@media(max-width:500px){
	footer .footer-content i{
		display: block;
	  }
}

@media(max-width:487px){
	.review .review-content .card{
		flex-direction: column;
		max-width: 300px;
	}

	.contact .contact-content .right iframe{
		width: 300px;
		height: 300px;
		}

}

@media(max-width:390px){

	.home .container{
		padding: 20px;
	}

	.home .text-1 span{
		font-size: 32px;
	}

	.home .text-1{
		font-size: 25px;
	}

	.new .container .new-content .slider{
		width: 250px;
		height: 350px;
	}

	.new .container .new-content .slider .slides .card img{
		width: 250px;
	}

	.contact .contact-content .right iframe{
		width: 250px;
		height:250px;
		}


}

@media(max-width:350px){


	.home .text-1 span{
		font-size: 32px;
	}

	.home .text-1{
		font-size: 22px;
	}

}


